FormsTesting/bin/Debug/FormsTesting.exe
FormsTesting/bin/Debug/FormsTesting.pdb
FormsTesting/bin/Debug/SGPControlLibrary.dll
FormsTesting/bin/Debug/SGPControlLibrary.pdb
FormsTesting/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FormsTesting/obj/Debug/FormsTesting.csproj.GenerateResource.cache
FormsTesting/obj/Debug/FormsTesting.csprojAssemblyReference.cache
FormsTesting/obj/Debug/FormsTesting.exe
FormsTesting/obj/Debug/FormsTesting.pdb
